@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About Page";
}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2 
                        data-lang="vi"
                        data-lang-en="About Our Company"
                        data-lang-vi="Về Công Ty Chúng Tôi"
                        data-lang-de="Über unsere Firma"
                        data-lang-kr="우리 회사 소개"
                        data-lang-jp="当社について">
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="./assets/images/logo_tdphones.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4 
                        data-lang="vi"
                        data-lang-en="About Us"
                        data-lang-vi="Về Chúng Tôi"
                        data-lang-de="Über uns"
                        data-lang-kr="회사 소개"
                        data-lang-jp="私たちについて">
                    </h4>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                        <p
                            data-lang ="vi"
                           data-lang-en="<b style='color:red'>TDPhoneS</b> was established in 2024, although it is still young in the phone business,
                           <b style='color:red'>TDPhoneS</b> still fully meets the requirements and provides the most complete customer care
                            and <b style='color:red''>TDPhoneS</b> promises to be a reputable phone store chain. and customer trust"
                            data-lang-vi="<b style='color:red'>TDPhoneS</b> được thành lập năm 2024 mặc dù còn non trẻ trong mảng kinh doanh về điện thoại
                            nhưng <b style='color:red'>TDPhoneS</b> vẫn luôn đáp ứng đầy đủ yêu cầu và chăm sóc khách hàng trọn vẹn nhất
                            và <b style='color:red'>TDPhoneS</b> hứa hẹn sẽ là một chuỗi cửa hàng điện thoại uy tín và tin cậy của khách hàng"
                            data-lang-de="<b style='color:red'>TDPhoneS</b> wurde im Jahr 2024 gegründet, obwohl es im Telefongeschäft noch jung ist,
                            erfüllt <b style='color:red'>TDPhoneS</b> immer noch die Anforderungen und bietet die umfassendste Kundenbetreuung
                            und <b style='color:red'>TDPhoneS</b> verspricht, eine seriöse Telefongeschäftskette zu sein und Kundenvertrauen zu genießen"
                            data-lang-kr="<b style='color:red''>TDPhoneS</b>는 2024년에 설립되었지만 전화 사업에서는 아직 초기 단계이지만 여전히 요구 사항을 완벽하게 충족하고 가장 완벽한 고객 관리를 제공하며
                            <b style='color:red'>TDPhoneS</b>는 평판이 좋은 전화 매장 체인과 고객 신뢰를 약속합니다."
                            data-lang-jp="<b style='color:red'>TDPhoneS</b> は 2024 年に設立されましたが、電話業界ではまだ若いですが、
                            <b style='color:red'>TDPhoneS</b> は依然として要件を完全に満たし、最も完全な顧客ケアを提供しており、評判の良い電話ストア チェーンと顧客の信頼を約束します。">
                        </p>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-z"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->

<!-- ***** Our Team Area Starts ***** -->
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 data-lang="vi"
                        data-lang-en="Founders and Employees"
                        data-lang-vi="Nhà Sáng Lập và Nhân Viên"
                        data-lang-de="Gründer und Mitarbeiter"
                        data-lang-kr="창립자와 직원"
                        data-lang-jp="創設者と従業員">
                    </h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img style="height: 320px" src="https://cdn-icons-png.freepik.com/512/5003/5003094.png">
                    </div>
                    <div class="down-content">
                        <h4>Huỳnh Vĩnh Tiến</h4>
                        <span 
                            data-lang="vi"
                              data-lang-en="Founder - CEO"
                              data-lang-vi="Nhà Sáng Lập - Giám Đốc Điều Hành"
                              data-lang-de="Gründer – Geschäftsführer"
                              data-lang-kr="창립자 - 전무 이사"
                              data-lang-jp="創設者 - 常務取締役"
                              style="font-size: 18px;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img style="height: 320px" src="https://cdn-icons-png.freepik.com/512/682/682442.png">
                    </div>
                    <div class="down-content">
                        <h4>Nguyễn Văn A</h4>
                        <span 
                            data-lang="vi"
                              data-lang-en="Director of Marketing"
                              data-lang-vi="Giám Đốc Marketing"
                              data-lang-de="Marketing Manager"
                              data-lang-kr="마케팅 매니저"
                              data-lang-jp="マーケティング・マネージャー"
                              style="font-size: 18px;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img style="height: 320px" src="https://cdn-icons-png.flaticon.com/512/3667/3667597.png">
                    </div>
                    <div class="down-content">
                        <h4>Nguyễn Thúy Kiều</h4>
                        <span data-lang="vi"
                              data-lang-en="Accountant"
                              data-lang-vi="Kế Toán"
                              data-lang-de="Buchhalter"
                              data-lang-kr="회계사"
                              data-lang-jp="会計士"
                              style="font-size: 18px;">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Team Area Ends ***** -->

<script src="~/js/language.js"></script>
